name: book_list_app
description: A simple Flutter book list app

publish_to: "none"

version: 1.0.0+1

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.6

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_launcher_icons: ^0.13.1

flutter:
  uses-material-design: true

  assets:
    - assets/icon/icon.webp

flutter_launcher_icons:
  android: true
  ios: true
  image_path: assets/icon/icon.webp
  min_sdk_android: 21
